@import url("https://fonts.googleapis.com/css2?family=Comfortaa&family=Play:wght@400;700&display=swap");
.App {
	text-align: center;
	height: 100%;
}

.button {
	width: 60px;
	height: 60px;
	border-radius: 50%;
	background-color: #ffffff;
	/* border: 2px solid rgb(0, 157, 255); */
	padding: 20px;
	display: inline-block;
	font-size: 26px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	/* margin: 0; */
}

.button:hover {
	cursor: pointer;
	font-size: 30px;
	border: 2px solid rgb(0, 174, 255);
}

.button:focus {
	background-color: #37ff000d;
}

#rock {
	border: 3px solid rgb(60, 255, 0);
}

#paper {
	border: 3px solid rgb(255, 0, 255);
}

#scissors {
	border: 3px solid rgb(0, 174, 255);
}

.title {
	color: #ffffff;
	font-family: "Play", sans-serif;
	font-size: 25px;
	font-weight: 700;
}

.prompt-text {
	font-family: "Comfortaa", cursive;
	color: white;
	font-size: 15px;
}

.score-container {
	display: flex;
	justify-content: space-between;
}

.result {
	font-family: "Comfortaa", cursive;
	color: white;
	font-size: 15px;
}
